body {
    margin: 0;
}

header{
    background-color: #00214f;
    color: white;
    width: 100%;
}

header img{
    width: 20px;
}

.navbar-toggler-icon {
    background-color: white;
}

section{
    margin-top: 30px;
    margin-right: 5px;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1rf);
    gap: 20px;
    max-width: 100%;
}

section a{
    text-decoration: none;
    color: black;
}

section a:hover {
    text-decoration: none;
}

section .card {
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transição suave para transformação e opacidade */
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #f4f4f4;
    text-align: center;
    border: none;
}

section .card h3{
    color: #8cabff;
}

section .card p{
    color: gray;
}

section .card h5{
    color: rgb(56, 54, 54);
}

/*Para telas maiores - 4 cards por linha */
@media (min-width: 992px){
    section{
        grid-template-columns: (2, 1rf);
    }
}

/* Para telas menores (>= 768px) - 3 cards por linha */
@media (min-width: 768px) {
    section {
        grid-template-columns: repeat(4, 1fr); /* 3 cards por linha */
    }
}

/* Para telas muito pequenas (<= 767px) - 1 card por linha */
@media (max-width: 800px) {
    section {
        grid-template-columns: repeat(2, 1fr); /* 1 card por linha */
        gap: 10px;
        padding: 30px;
    }

    section h3{
        white-space: nowrap; /* Evita quebra de linha */
        font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
        width: fit-content; /* Ajusta a largura para caber no conteúdo */
        height: auto; /* A altura será automaticamente ajustada conforme o texto */
        margin: 0 auto; /* Remove margens extras */
    }

    .card{
        width: 100%;
        box-sizing: border-box;
        border: none;
    }
}